@import "buttons";
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}
.news-list {
  list-style: none;
  padding: 0;
  margin: 0;

  .news-list__item {
    border-bottom: 1px solid #cacaca;
    padding-bottom: 15px;

    &:last-child {
      border-bottom: none
    }
  }
}

.load-more-wrapper {
  display: flex;
  justify-content: center;
}
